* {
  box-sizing: border-box;
}
header {
  text-align: center;
  height: 80px;
  font-family: 'Pathway Gothic One', sans-serif;
}
h1 {
  text-align: center;
  margin-top: 1.5%;
  font-size: 40px;
}
body {
  height: 100vh;
  margin: 0;
  background: url('./images/star-wars-backgrounds-25.jpg');
  color: #F9D71C;
  font-family: 'MyWebFont', Fallback, sans-serif;
}

/* MAIN STYLING */
main {
  margin-bottom: 10px;
  font-family: 'Pathway Gothic One', sans-serif;
  height: 100%;
  width: 100%;
}

/* GRID STYLING */
.grid {
  height: 640px;
  width: 1140px;
  display: grid;
  grid-template-columns: repeat(19, 1fr);
  grid-auto-rows: 1fr;
  grid-auto-columns: 1fr;
  gap: 0px;
  margin: 2% auto;
}
.grid div {
  border: none;
  height: 40px;
  width: 60px;
}

/* INTRO SYLING */
.intro-game-container {
  position: fixed;
  top: 150px;
  z-index: 500;
  width: 100%;
  height: 95%;
  top: -25px;
  background-image: linear-gradient(0deg, transparent, black 75%);
}

.intro {
  display: flex;
  justify-content: center;
  width: 40%;
  height: 100%;
  z-index: 600;
  perspective: 400px;
  letter-spacing: 6px;
  line-height: 150%;
  font-weight: 600;
  background-color: transparent;
  position: relative;
  margin: 0 auto;
  text-align: center;
  font-size: 16px;
  line-height: 1.6;
  padding: 20px;
  overflow: hidden; 
}

#intro-text {
  position: relative;
  top: -100px;
  transform-origin: 50% 100%;
  height: 80%;
  font-size: 30px;
  text-align: justify;
  text-align-last: center;
  margin: 0;
  -moz-transform:translateY(100%);
  -webkit-transform:translateY(100%);
  transform:translateY(100%);
  -moz-animation: intro-text 165s linear infinite;
  -webkit-animation: intro-text 165s linear infinite;
  animation: intro-text 165s linear infinite;
}

@-moz-keyframes intro-text {
  0% {-moz-transform: translateY(100%);}
  100% {-moz-transform: translateY(-100%);}
}
@-webkit-keyframes intro-text {
  0%   { -webkit-transform: translateY(100%); }
 100% { -webkit-transform: translateY(-100%); }
}
@keyframes intro-text {
  0%   { 
  -moz-transform: translateY(100%); 
  -webkit-transform: translateY(100%); 
  transform: translateY(100%); 		
  top: 0;
  transform: rotateX(20deg) translateZ(0)
  }
  100% { 
  -moz-transform: translateY(-100%); 
  -webkit-transform: translateY(-100%); 
  transform: translateY(-100%); 
  top: -6000px;
  transform: rotateX(25deg) translateZ(-2500px)
  }
 }

/* SCOREDBOARD STYLING */
.scoreboard {
  height: 50px;
  width: 900px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
}
.score,
.level {
  width: 30%;
  height: 160%;
}
.score h2,
.level h2 {
  text-align: center;
}
.player-lives {
  width: 30%;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.current-lives {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.current-lives img {
  height: 40px;
}

/* INSTRUCTIONS STYLING */

#instructions {
  height: 32%;
  width: 100%;
  font-size: 22px;
  margin: 0;
}
#key {
  text-decoration: underline;
  
}

.buttons {
  display: flex;
  width: 80%;
  height: 5%;
  justify-content: space-evenly;
  margin-top: 15px;
  margin-bottom: 10px;
    
}

/* GAME OVER STYLING */
.gameover-container {
  position: fixed;
  top: 200px;
  z-index: 500;
  width: 100%;
  height: 400px;
}

.gameover {
  width: 40%;
  height: 100%;
  z-index: 600;
  background-color: black;
  border: 1px solid #F9D71C;
  position: relative;
  margin: 0 auto;
  text-align: center;
  font-size: 30px;
}

#reset {
  border: 3px solid #F9D71C;
  background: rgba(255, 255, 255, 0);
  color: #F9D71C;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Pathway Gothic One', sans-serif;
  padding: 10px 30px;
}
#reset:hover {
  cursor: pointer;
  border: 3px solid black;
  background: #F9D71C;
  color: black;
  box-shadow: 10px 5px 5px #F9D71C;
}
#start {
  border: 3px solid #F9D71C;
  background: rgba(255, 255, 255, 0);
  color: #F9D71C;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Pathway Gothic One', sans-serif;
  padding: 10px 30px;
  margin-left: 2%;
  margin-bottom: 2%;
}
#start:hover {
  border: 3px solid black;
  background: #F9D71C;
  color: black;
  box-shadow: 10px 5px 5px #F9D71C;
}

.play-again {
  border: 3px solid #F9D71C;
  background: none;
  color: #F9D71C;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Pathway Gothic One', sans-serif;
  padding: 10px 30px;
  margin: 0 auto;
}

.play-again:hover {
  cursor: pointer;
  border: 3px solid black;
  background: #F9D71C;
  color: black;
  box-shadow: 10px 5px 5px #F9D71C;
}

.final-score {
  font-family: 'Pathway Gothic One', sans-serif;
  color: #F9D71C;
  font-size: 40px;
  line-height: 1;
}

/* GAME PLAY STYLING */

.alien {
  background: url('./images/Tie-fighter.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.player { 
  background: url('./images/mil-falcon.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.bullet {
  background: url('./images/laser.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.explosion {
  background: url('./images/explosion.gif');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hidden {
  display: none;                      
}