* {
  box-sizing: border-box;
}

/* @font-face {
  font-family: 'MyWebFont';
  src: url('Starjedi.ttf') format('truetype');
} */
body {
  height: 100vh;
  margin: 0;
  background: url('./images/star-wars-backgrounds-25.jpg');
  color: #F9D71C;
  font-family: 'MyWebFont', Fallback, sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

h1 {
  text-align: center;
  margin: 0;
  height: 5%;
}

.intro-game-results {
  display: flex;
  flex-direction: row;
  height: 95%;
  width: 100%;
}
.intro {
  height: 100%;
  width: 20%;
  padding: 10px;
  overflow: hidden;
}
#intro-text {
  height: 100%;
  font-size: 30px;
  text-align: justify;
  text-align-last: center;
  margin: 0;
  -moz-transform:translateY(100%);
  -webkit-transform:translateY(100%);
  transform:translateY(100%);
  -moz-animation: intro-text 30s linear infinite;
  -webkit-animation: intro-text 30s linear infinite;
  animation: intro-text 30s linear infinite;
}
@-moz-keyframes intro-text {
  0% {-moz-transform: translateY(100%);}
  100% {-moz-transform: translateY(-100%);}
}
@-webkit-keyframes intro-text {
  0%   { -webkit-transform: translateY(100%); }
 100% { -webkit-transform: translateY(-100%); }
}
@keyframes example1 {
  0%   { 
  -moz-transform: translateY(100%); 
  -webkit-transform: translateY(100%); 
  transform: translateY(100%); 		
  }
  100% { 
  -moz-transform: translateY(-100%); 
  -webkit-transform: translateY(-100%); 
  transform: translateY(-100%); 
  }
 }

.game {
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.score-board-lives {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 90%;
  height: 15%;
  
}

.results-board {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100%;
  width: 20%;
  
  margin: 10px;
   
}

.choose-player {
  display: flex;
  flex-direction: row;
  height: 32%;
  width: 100%;
}
#game-status {
  font-size: 24px;
  height: 32%;
  width: 100%;
  margin: 0 auto;
}
#instructions {
  height: 32%;
  width: 100%;
  font-size: 22px;
  margin: 0;
}
#key {
  text-decoration: underline;
  
}

.score-board {
  display: flex;
  text-align: center;
  height: 100%;
  width: 50%;
  align-self: center;
  justify-content: center;
}
.score-board p {
  margin-bottom: 0;
  margin-top: 0;
  width: 100%;
  height: 25%;
  
}
#score {
  font-size: 78px;
  position: relative;
  top: 8px;
}

.player-lives {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
  align-content: center;
  justify-self: center;
}
.player-lives p {
  margin: 0;
  height: 20%;
  width: 100%;
  text-align: center;
}
.current-lives {
  display: flex;
  flex-direction: row;
  height: 80%;
  justify-content: space-evenly;
 
}
.first-life {
  border: 2px solid black;
  height: 100%;
  width: 32%;
  background: url('./images/mil-falcon.JPG');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.second-life {
  border: 2px solid black;
  height: 100%;
  width: 32%;
  background: url('./images/mil-falcon.JPG');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.third-life {
  border: 2px solid black;
  height: 100%;
  width: 32%;
  background: url('./images/mil-falcon.JPG');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.removed-life {
  border: 2px solid black;
  height: 100%;
  width: 32%;
  background: rgba(255, 255, 255, 0);
}

.grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-auto-rows: 1fr;
  grid-auto-columns: 1fr;
  height: 76%;
  width: 85%;
}

.buttons {
  display: flex;
  width: 80%;
  height: 5%;
  justify-content: space-evenly;
  margin-top: 15px;
  margin-bottom: 10px;
    
}
#reset {
  border: 3px solid #F9D71C;
  background: rgba(255, 255, 255, 0);
  color: #F9D71C;
}
#reset:hover {
  border: 3px solid black;
  background: #F9D71C;
  color: black;
  box-shadow: 10px 5px 5px #F9D71C;
}
#start {
  border: 3px solid #F9D71C;
  background: rgba(255, 255, 255, 0);
  color: #F9D71C;
}
#start:hover {
  border: 3px solid black;
  background: #F9D71C;
  color: black;
  box-shadow: 10px 5px 5px #F9D71C;
}

.alien {
  background: url('./images/Tie-fighter.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.player { 
  background: url('./images/mil-falcon.JPG');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.bullet {
  background: url('./images/laser.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.explosion {
  background: url('./images/explosion.gif');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}