* {
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: row;
}

h1 {
  text-align: center;
}

.score-board-lives {
  display: flex;
  flex-direction: column;
}

.player-lives {
  display: flex;
  flex-direction: row;
}

.current-lives {
  display: flex;
  flex-direction: column;
}

.grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-auto-rows: 1fr;
  background: black;
}

.grid div {
  border: 3px solid red;
}

